@import "/src/assets/css/media-querys.scss";

.landingContainer {
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;

  @media (min-width: $tablet-s) {
    height: 50rem;
  }

  @media (min-width: $desktop-s) {
    height: 40rem;
  }

  .infoContainer {
    align-self: center;
    text-align: center;
    max-width: 80%;

    @media (min-width: $mobile-s) {
      width: 75%;
    }
  }
}
