$main-background-color-dark: black;
$main-background-color-light: #f5f5f5;
$background-color-transparent: transparent;

$background-color-button: #51b8ec;
$background-color-button-hover: rgba(125, 222, 235, 0.829);

$main-font-color: black;
$main-font-color-light: grey;
