@import "/src/assets/css/media-querys.scss";

.headerContainer {
  .logoContainer {
    padding: 1rem 2rem;

    img {
      width: 2.5rem;

      @media (min-width: $mobile-s) {
        width: 3rem;
      }

      @media (min-width: $tablet-s) {
        width: 4rem;
      }

      @media (min-width: $desktop-s) {
        width: 5rem;
      }
    }
  }
}
