@import "/src/assets/css/media-querys.scss";
@import "/src/assets/css/colors.scss";

.notFoundContainer {
  min-height: 28rem;
  width: 20rem;
  background-color: $main-background-color-light;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  border-radius: 1.5rem;

  @media (min-width: $mobile-l) {
    width: 100%;
  }

  @media (min-width: $tablet-s) {
    margin: 0.7rem 0 6rem;
    height: 38rem;
    justify-content: center;
  }

  @media (min-width: $desktop-s) {
    height: 47rem;
    width: 90%;
    align-self: center;
  }

  .textContainer {
    padding: 3rem 2rem;
    padding-bottom: 0;

    @media (min-width: $tablet-s) {
      padding-top: 0;
    }

    img {
      width: 14rem;
      display: flex;
      margin: 0 auto;

      @media (min-width: $mobile-l) {
        width: 20rem;
      }

      @media (min-width: $tablet-s) {
        width: 25rem;
      }

      @media (min-width: $desktop-s) {
        width: 40rem;
      }

      @media (min-width: $desktop-l) {
        width: 47rem;
      }
    }

    h3 {
      @media (min-width: $tablet-s) {
        font-size: 1.7rem;
        margin: 2rem 0rem 1;
      }

      @media (min-width: $desktop-s) {
        font-size: 2rem;
        margin: 1rem;
      }

      @media (min-width: $desktop-l) {
        font-size: 2.5rem;
      }
    }

    h3,
    p {
      text-align: center;
      color: $main-font-color-light;
    }
  }

  .buttonContainer {
    margin: 0 auto;
  }
}
